/* Contact Page Layout */

.re-contact-page{
  background: var(--bg-purple);
  min-height: calc(100vh - 160px);
  padding: 1.5rem 0 3rem;
}

.re-topbar{
  align-items: center !important;
}

.re-header-actions{
  padding-top: 0.45rem;
}

.re-orderbtn-header{
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1.1rem;
}

.re-contact-section{
  display: flex;
  justify-content: center;
}

.re-contact-card{
  width: 100%;
  max-width: 860px;
  background: #6f083f;
  padding: 3.5rem 3.5rem 3rem;
	border-radius: 8px;
}

.re-contact-title{
  color: var(--white);
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.re-contact-form{
  max-width: 650px;
  margin: 0 auto;
}

/* Form Layout */

.re-form-row{
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.4rem;
}

.re-form-row label{
  color: var(--white);
  font-size: 1.05rem;
  text-align: right;
}

.re-form-row input,
.re-form-row textarea{
  width: 100%;
  background: #ffffff;
  color: #222;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: none;
}

.re-form-row input{
  height: 44px;
}

.re-form-row-top{
  align-items: start;
}

/* Submit Button */

.re-contact-submit-wrap{
  text-align: center;
  margin-top: 2rem;
}

.re-contact-submit{
   background-color: #fff;
    color: rgba(91, 17, 55, 1);
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.re-contact-submit:hover{
	background-color: #fff;
  	opacity: 0.85;
}

/* Responsive */

@media (max-width: 991px){

.re-contact-top-actions{
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.re-contact-card{
  padding: 2.5rem 2rem;
}

.re-contact-title{
  font-size: 2.4rem;
}

.re-form-row{
  grid-template-columns: 1fr;
  gap: .5rem;
}

.re-form-row label{
  text-align: left;
}

}